@use '../abstract/constants' as c;
@use '../abstract/mixins' as m;

.hamburger {
    display: none;
    @include m.media-mobile {
        display: inline-block;
        width: 20px;
        height: 20px;
        position: relative;
        cursor: pointer;
        z-index: 1001; 
    }
    @include m.media-tablet {
        display: inline-block;
        width: 20px;
        height: 20px;
        position: relative;
        cursor: pointer;
        z-index: 1001; 
    }
}

.hamburger__line {
    display: block;
    position: absolute;
    background-color: c.$color-menu;
    height: 3px;
    width: 100%;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.hamburger span:nth-child(1) {
    width: 60%;
    top: 0px;
    left: 40%;
    @include m.media-mobile {
        top: 4px;
    }
}

.hamburger span:nth-child(2), .hamburger span:nth-child(3) {
    top: 10px;
}

.hamburger.open span:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%;
    @include m.media-mobile {
        top: 10px;
    }
}

.hamburger.open span:nth-child(2) {
    transform: rotate(45deg);
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222222;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}