@use '../abstract/constants' as c;
@use '../abstract/mixins' as m;
@use '../abstract/placeholders';


.header-logo {
    display: flex;
    align-items: center;
    @include m.media-mobile {
        display: none;
    }
}

.logo-img {
    height: 60px;
    margin-right: 10px;
}