$color-logo: #51dbff;
$color-menu: #2c3e50;
$color-menu-hover: #0072e1;
$color-main: #FFFFFF;
$color-title: #222222;
$color-text: #222222;
$color-button: #222222;
$color-button-hover: #FF3C3C;
$color-text-buttons: #FFFFFF;
$color-text-buttons-hover:#222222;
$color-background:rgba(255, 255, 255, 0.95);

$content-width: 1440px;
$tablet-width: 768px;
$mobile-width: 380px;
