$color-logo: #51dbff;
$color-menu: #51dbff;
$color-menu-hover: #0072e1;
$color-main: #FFFFFF;
$color-title: #222222;
$color-text: #222222;
$color-button: #222222;
$color-button-hover: #FF3C3C;
$color-text-buttons: #FFFFFF;
$color-text-buttons-hover:#222222;
$color-background:#ffffff;

$content-width: 1440px;
$tablet-width: 768px;
$mobile-width: 380px;
